language: go

go:
  - "1.x"
  - "1.11.x"
  - "1.12.x"
  - "1.13.x"

env:
  - GO111MODULE=on

before_install:
  - rm go.sum

install: true # skip for now, due to gomodules being annoying

script:
  - make all
  - make test
